absl-py==0.12.0
argcomplete==1.12.1
astor==0.8.1
async-generator 
atari-py==0.2.6
attrs 
backcall 
bleach 
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
decorator 
defusedxml 
distro==1.5.0
entrypoints==0.3
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.37.1
gym==0.18.0
h5py==3.2.1
idna==2.10
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
jedi==0.17.0
Jinja2 
joblib==0.14.1
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
kaggle-environments==1.7.11
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.3.4
MarkupSafe 
matplotlib==3.2.1
mistune 
mpi4py==3.0.3
nb-conda-kernels 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook==6.0.3
numpy==1.18.2
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging 
pandas==1.0.3
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==7.2.0
pipx==0.15.5.1
prometheus-client 
prompt-toolkit 
protobuf==3.15.8
ptyprocess 
pycparser 
pyglet==1.5.0
Pygments 
pyparsing==2.4.7
pyrsistent 
python-dateutil==2.8.1
pytz==2021.1
pyzmq==20.0.0
requests==2.25.1
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash 
six 
stable-baselines3==1.1.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.9.4
testpath 
torch==1.9.0
tornado 
traitlets 
typing-extensions 
urllib3==1.26.4
userpath==1.4.1
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp 
